<html>
    <head>
        <title>{{ ansible_user }}</title>
    </head>

    <body>
        <h1>{{ ansible_user }}</h1>
        <p>Je déclare solennellement que mon prof préféré est <strong>{{ prof }} </strong>
    </body>
</html> 